<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.29.1" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.29.1" targetFramework="net45" />
  <package id="Google.Apis.Calendar.v3" version="1.29.1.976" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.29.1" targetFramework="net45" />
  <package id="Google.Apis.Gmail.v1" version="1.29.1.978" targetFramework="net45" />
  <package id="Google.Apis.People.v1" version="1.25.0.830" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net45" />
</packages>