@model Kalendar.Zero.Data.Domain.Account
@{
    ViewBag.Title = "隐私声明_" + Kalendar.Zero.Data.Config.SiteTitle;
}

<div class="row" id="wrap">
    <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #FFF;">
        <div class="inner">
            <h2>有空科技个人隐私声明:</h2>
            <hr/>
            <p>有空科技隐私权保护声明是本网站保护用户个人隐私的承诺。鉴于网络的特性，本网站将无可避免地与您产生直接或间接的互动关系，故特此说明本网站对用户个人信息的收集、使用和保护政策，请您务必仔细阅读：</p>
            <h3>1、 使用者非个人化信息</h3>
            <p>我们将通过您的IP地址来收集非个人化的信息，例如您的浏览器性质、操作系统种类、给您提供接入服务的ISP的域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，我们进行客流量统计，从而改进网站的管理和服务。</p>
            <h3>2、 个人资料 </h3>
            <p>2.1 当您在有空科技进行用户注册登记、购票、订票、享受送票服务、竞价议价交易或参与公共论坛等活动时，在您的同意及确认下，本网站将通过注册表格、订单等形式要求您提供一些个人资料。这些个人资料包括：</p>

            <h6>2.1.1 个人识别资料：如姓名、性别、身份证号码、电话、通信地址、住址、电子邮件地址等情况。</h6>
            <h6>2.1.2 个人背景：年龄、职业、教育程度、收入状况、婚姻、家庭状况等。</h6>
            <p>2.2 请了解，在未经您同意及确认之前，本网站不会将您为参加本网站之特定活动所提供的资料利用于其它商业目的（本网站用于改善、提升服务质量除外）。唯按下列第6条规定应政府及法律要求披露时不在此限。 </p>
            <h3>3、 信息安全 </h3>
            <p>3.1 本网站将对您所提供的资料进行严格的管理及保护，本网站将使用相应的技术，防止您的个人资料丢失、被盗用或遭篡改。</p>
            <p>3.2 本网站在必要时委托专业技术人员代为对该类资料进行电脑处理，以符合专业分工时代的需求。如本网站将电脑处理之通知送达予您，而您未在通知规定的时间内主动明示反对，本网站将推定您已同意。唯在其后您仍然有权如下述第4.1.4条之规定，请求停止电脑处理。</p>

            <h3>4、 用户权利 </h3>
            <p>4.1 您对于自己的个人资料享有以下权利：</p>
            <h6>4.1.1 随时查询及请求阅览；</h6>
            <h6>4.1.2 随时请求补充或更正； </h6>
            <h6>4.1.3 随时请求删除； </h6>
            <h6>4.1.4 请求停止电脑处理及利用。</h6>

            <p>
                4.2 针对以上权利，本网站为您提供相关服务，您可以发送电子邮件至：<a href="mailto:webmaster@atimer.cn">webmaster@atimer.cn</a>
            </p>
            <h3>5、 限制利用原则本网站唯在符合下列条件之一，方对收集之个人资料进行必要范围以外之利用：</h3>
            <p>5.1 已取得您的书面同意；</p>
            <p>5.2 为免除您在生命、身体或财产方面之急迫危险； </p>
            <p>5.3 为防止他人权益之重大危害； </p>
            <p>5.4 为增进公共利益，且无害于您的重大利益。 </p>

            <h3>6、 个人资料</h3>
            <p>个人资料之披露 当政府机关依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均得免责。</p>
            <h3>7、 有空科技为您提供个人空间、博客、发表评论等服务。在这些区域内，您公布的任何信息都会成为公开的信息。因此，我们提醒并请您慎重考虑是否有必要在这些区域公开您的个人信息。</h3>
            <h3>8、 免责 除上述第6条规定属免责外，出现下列情况时本网站亦毋需承担任何责任：</h3>
            <p>8.1 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。 </p>
            <p>8.2 任何由于计算机2000年问题、黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等。 </p>

            <p>8.3 由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。 </p>

            <hr />
            <p>
                <strong>本网站之保护隐私声明的修改及更新权均属于有空科技。</strong>
            </p>
            <br/><br/>
        </div>
    </div>
</div>

@section PageTail{

}